**/.idea

**/venv/*
**/env/*

**/Datasets/*

!**/runs/
**/runs/*
!**/runs/RunsManager.py
!**/runs/__init__.py


**/Graphs/*
**/clusterbackup*/*
**/wandb/*

src2/configuration/configs/homeconf.json

__pycache__/
*.py[cod]
*$py.class

*.so
Runs_fetcher.bat

wandb-metadata.json
wandb/run-*