**/.idea

**/venv/*
**/env/*

**/Datasets/*

!**/runs/
**/runs/*
!**/runs/RunsManager.py
!**/runs/__init__.py


**/Graphs/*
**/clusterbackup*/*
**/wandb/*

configuration/configs/homeconf.json
configuration/configs/home_fully_train.json
configuration/configs/home_run_scheduler.json


__pycache__/
*.py[cod]
*$py.class

*.so
Runs_fetcher.bat

wandb-metadata.json
wandb/run-*