# This file may be used to create an environment using:
# conda create -p venv --file requirements.txt
# platform: linux-64

# Pytorch for CPU or GPU

# Nvidia GPU cuda 10.0.130
cudatoolkit=10.0.130
pytorch=1.0.1
torchvision=0.2.1

# CPU
# pytorch-cpu=1.0.0=py3.7_cpu_1
# torchvision-cpu=0.2.1=py_2


matplotlib
matplotlib-base
numpy

ipython